<ion-view >

    
 <modal-dialog show='dialogShown' dialog-title='DETAIL' style="width:100%">

<table style="width:100%;" class="center-align padding" >
    <tr>
<td>
APPLICATION FEE(NGN)
</td>

<td>
{{appfee|currency:""}}
</td>
    </tr>

    <tr>
<td>
TECH FEE(NGN)
</td>

<td>
{{apptech_amt|currency:""}}
</td>
    </tr>

     <tr>
<td>
AMOUNT(NGN)
</td>

<td>
{{appamt|currency:""}}
</td>
    </tr>

</table>

 </modal-dialog>

 
<ion-header class="bar bar-assertive bar-subheader">
        <button class="button button-small " ng-click="dashboard()" >
       <i class="ion-arrow-left-a"></i>
          Back
        </button>
        <span style="margin-left: auto;
    margin-right: auto;"> 
    <strong>TOTAL ITEM IN CART <span class="badge badge-assertive icon-badge">{{vcount}}</span>  </strong> </span> </ion-header>

  
  
  <ion-content class="has-subheader padding" > 
      
    




      <tabs>
    <pane title="TRADEMARK">

        <div class="table-responsive "> 
 
  <ion-scroll zooming="true" direction="y" delegate-handle="main-list" >
      
    
         
      
      <div id="no-more-tables">
      <table  st-table="displayedCollection" st-safe-src="ListAgent"   class="col-md-12  table   cf"  >
                        <thead class="cf">
                            <tr bgcolor="#E3EAEB" >
                                
                                <th>CODE</th>
                                 <th>DESCRIPTION</th>
                                <th>AMOUNT(NGN)</th>
                                <th>QUANTITY</th>


                                <th  ></th>

                              
                             

                            </tr>

                        </thead>
                        <tbody>
                            <tr ng-repeat="row in displayedCollection"  >
                                <td data-title="CODE">{{row.item_code}}</td>
 <td data-title="DESCRIPTION">{{row.xdesc}}</td>


                               
                               
                                
                                <td  data-title="AMOUNT(NGN)"   >{{row.amt|currency:""}} <input id="Button1" type="button" class="btn btn-info" ng-click="openModal(row)"   value="View Detail" /></td>
                                <td  data-title="QUANTITY"   ><input type="text" class="form-control input-sm" placeholder="Enter qty" ng-model="row.qt_code"></td>




 <td> 
     <table class="col-md-12  table  cf">
         <tr ng-show="showbtn2(row)">
             <td>
 <input id="Button1" type="button" class="btn btn-success" ng-show="showbtn2(row)" ng-click="EditRow(row)" value="Add" />
             </td>
         </tr>
       <tr ng-show="showbtn3(row)">
             <td>
 <input id="Button2" type="button" class="btn btn-danger" ng-show="showbtn3(row)" ng-click="EditRow2(row)" value="Remove" /> 
             </td>
         </tr>

     </table>
     
       </td>

                              



       
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr >
                                <td colspan="4" class="text-center col">
                                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="4"></div>


                                </td>
                            </tr>
                        </tfoot>
                    </table>

</div>

    


                    <table >


                        <tr>
                            <td align="center">

                                <input id="Button1" type="button" class="btn btn-info" ng-click="dashboard()" value="Back" />

                                <input id="Button1" type="button" class="btn btn-info" ng-click="submitForm()" value="Confirm Selected Items" />




                            </td>
                        </tr>
                    </table>


</ion-scroll>


</div>


</pane>
    <pane title="PATENT">
             <div class="table-responsive"> 
 
  <ion-scroll zooming="true" direction="y" delegate-handle="main-list" >
      <div id="no-more-tables">
      <table st-table="displayedCollection2" st-safe-src="ListAgent2" class="col-md-12  table   cf" >
                        <thead class="cf">
                            <tr bgcolor="#E3EAEB" >
                                <th st-sort="reg_dt"  >CODE</th>
                                <th st-sort="reg_dt"  >DESC</th>
                               
                                <th st-sort="product_title"  >AMOUNT(NGN)</th>
                                <th st-sort="product_title"  >QUANTITY</th>


                                <th  ></th>
                             

                            <tr>
                                <th colspan="4"><input st-search="" class="form-control" placeholder="global search ..." type="text" /></th>
                            </tr>

                            </tr>

                        <tbody>
                            <tr ng-repeat="row in displayedCollection2" >

                      
                           <td data-title="CODE">{{row.item_code}}</td>
                               
                             <td data-title="DESCRIPTION">{{row.xdesc}}</td>


                               
                               
                                
                                <td  data-title="AMOUNT(NGN)"   >{{row.amt|currency:""}} <input id="Button1" type="button" class="btn btn-info" ng-click="openModal(row)"   value="View Detail" /></td>
                                <td  data-title="QUANTITY"   ><input type="text" class="form-control input-sm" placeholder="Enter qty" ng-model="row.qt_code"></td>




 <td> 
   <table>
         <tr ng-show="showbtn2(row)">
             <td>
 <input id="Button1" type="button" class="btn btn-success" ng-show="showbtn2(row)" ng-click="EditRow3(row)" value="Add" />
             </td>
         </tr>
       <tr ng-show="showbtn3(row)">
             <td>
 <input id="Button2" type="button" class="btn btn-danger" ng-show="showbtn3(row)" ng-click="EditRow4(row)" value="Remove" /> 
             </td>
         </tr>

     </table>
     
     
       </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr >
                                <td colspan="7" class="text-center col">
                                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>


                                </td>
                            </tr>
                        </tfoot>
                    </table>

</div>
                    <table >


                        <tr>
                            <td align="center">

                                <input id="Button1" type="button" class="btn btn-info" ng-click="dashboard()" value="Back" />

                                <input id="Button1" type="button" class="btn btn-info" ng-click="submitForm()" value="Confirm Selected Items" />




                            </td>
                        </tr>
                    </table>


</ion-scroll>


</div>
    </pane>
    <pane title="DESIGN">
             <div class="table-responsive"> 
 
  <ion-scroll zooming="true" direction="y" delegate-handle="main-list" >
      <div id="no-more-tables">
      <table st-table="displayedCollection3" st-safe-src="ListAgent3" class="col-md-12  table   cf" >
                        <thead class="cf">
                            <tr bgcolor="#E3EAEB" >
                                <th st-sort="reg_dt"  >CODE</th>
                                <th st-sort="reg_dt"  >DESC</th>
                               
                                <th st-sort="product_title"  >AMOUNT(NGN)</th>
                                <th st-sort="product_title"  >QUANTITY</th>


                                <th  ></th>
                             

                            <tr >
                                <th colspan="4" class="col"><input st-search="" class="form-control" placeholder="global search ..." type="text" /></th>
                            </tr>

                            </tr>

                        <tbody>
                            <tr ng-repeat="row in displayedCollection3" >


                              <td data-title="CODE">{{row.item_code}}</td>
                               <td data-title="DESCRIPTION">{{row.xdesc}}</td>


                               
                               
                                
                                <td  data-title="AMOUNT(NGN)"   >{{row.amt|currency:""}} <input id="Button1" type="button" class="btn btn-info" ng-click="openModal(row)"   value="View Detail" /></td>
                                <td  data-title="QUANTITY"   ><input type="text" class="form-control input-sm" placeholder="Enter qty" ng-model="row.qt_code"></td>




 <td> 
     <table class="col-md-12  table  cf">
         <tr ng-show="showbtn2(row)">
             <td>
 <input id="Button1" type="button" class="btn btn-success" ng-show="showbtn2(row)" ng-click="EditRow5(row)" value="Add" />
             </td>
         </tr>
       <tr ng-show="showbtn3(row)">
             <td>
 <input id="Button2" type="button" class="btn btn-danger" ng-show="showbtn3(row)" ng-click="EditRow6(row)" value="Remove" /> 
             </td>
         </tr>

     </table>
     
       </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr >
                                <td colspan="7" class="text-center col">
                                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>


                                </td>
                            </tr>
                        </tfoot>
                    </table>

</div>
                    <table >


                        <tr>
                            <td align="center">

                                <input id="Button1" type="button" class="btn btn-info" ng-click="dashboard()" value="Back" />

                                <input id="Button1" type="button" class="btn btn-info" ng-click="submitForm()" value="Confirm Selected Items" />




                            </td>
                        </tr>
                    </table>


</ion-scroll>


</div>
    </pane>
  </tabs>
    
              
  
      
          </ion-content> 


               </ion-view >



       <script id="templates/modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">Fee Detail</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding">
          <table style="width:100%;" class="center-align" >
    <tr>
<td>
APPLICATION FEE(NGN)
</td>

<td>
{{appfee|currency:""}}
</td>
    </tr>

    <tr>
<td>
TECH FEE(NGN)
</td>

<td>
{{apptech_amt|currency:""}}
</td>
    </tr>

     <tr>
<td>
AMOUNT(NGN)
</td>

<td>
{{appamt|currency:""}}
</td>
    </tr>

</table>
        </ion-content>
      </ion-modal-view>
    </script>

 
                    

