<ion-view >

    
 
  <ion-content class="has-header" style="background-color:#3D3D3D">

      <style>



textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {


    color: #C5C5C5;
    background-color: #616161 ;

    width:90% ;

    margin-left: 10px;

    margin-right: 10px;
    
}

   #btn-signup {
            background-color :#06FBB5;


               
              
    cursor:pointer;
}


.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.tbox
{
border:2px solid #b3b3b3;
background:#dddddd;

border-radius:25px;
-moz-border-radius:25px; 
-moz-box-shadow:    1px 1px 1px #ccc;
-webkit-box-shadow: 1px 1px 1px 1px #ccc;
 box-shadow:         1px 2px 2px 2px #ccc;
}

          </style>
        <div>


<div >

    <br/>
    <br/>
    <br/>
        
              <input type="text" class="item item-input " placeholder="Username" ng-model="vform.username">
         
          <br/>
         
              <input type="password" placeholder="Password" class="item item-input" ng-model="vform.password">
         
<br/>
<br/>
         
      <button id="btn-signup" type="submit" ng-click="submitForm(vform)"  class="btn center "><i class="icon-hand-right"></i> &nbsp Login</button>
     
      </div>
         

                        
                       



                    </div>


            
  
  </ion-content>
   </ion-view >

