<ion-side-menus>

  <ion-side-menu-content>
   
<div class="col-md-12"> 
    <ion-header-bar  class="bar-assertive"  align-title="center"  >
<h1>
      <button class="button button-icon" ng-click="toggleSideMenu()">
    <i class="icon ion-navicon"></i>
  </button>

</h1>



  

  <span class="title"  style="margin:0px"  > </span>  <br/>

  <span class="title"  style="margin:0px"  > CLD MOBILE </span> 


  <div class="buttons pull-right">
    <a  ng-show=!islogin  ui-sref="app.login" > <button button-small class="button icon ion-android-home ">
   Login
</button></a>



 <a ng-show=islogin ui-sref="app.logout" >
<button class="button button-small icon ion-android-unlock padding">
   Logout
</button>
   </a>
  </div>
</ion-header-bar>

</div>

    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>




    <ion-footer-bar class="bar-assertive">

 
  
 
<a ng-show=islogin ui-sref="app.GetEmails" >
<button class="button icon ion-email padding" style="border:0px">
   <blink > <span id="Span1" class="badge badge-assertive icon-badge"  >{{vcount2}}</span> </blink>

</button>
   </a>

 <h1 class="title">EINAO SOLUTIONS</h1>

 

       </ion-footer-bar>
    

    

  </ion-side-menu-content>

  <ion-side-menu side="left">
    
<header class="bar bar-balanced">
      <h1 class="title">Menu</h1>
    </header>
   
    <ion-content class="has-header">
      <ion-list >
          <ion-item menu-close href="#/app">
         Home
        </ion-item>
        <ion-item ng-show=!islogin menu-close ui-sref="app.login">
          Login
        </ion-item>
         <ion-item ng-show=islogin menu-close ui-sref="app.logout">
          LogOut
        </ion-item>
      
        <ion-item menu-close ng-show=islogin ui-sref="app.GetEmails">
         Mail
        </ion-item>


       
       
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>