<ion-view >
     <ion-header class="bar bar-assertive bar-subheader">
        <button class="button button-small " ng-click="dashboard()" >
       <i class="ion-arrow-left-a"></i>
          Back
        </button>
   </ion-header>
  <ion-content class="has-subheader" > 
       <div class="table-responsive "> 
 <div class="col-md-12">
     <div style="background-color:#1C5E55; color:#ffffff; text-align:center;font-weight:bold;border:1px solid #000000;"> 
 PAYMENT INVOICE SLIP FOR TRANSACTION :&nbsp;{{twallet.ref_no}}
     </div>

     <div style="font-weight:normal;">
This section displays your Payment Invoice Slip<br />
                            --&nbsp;To select your preferred mode of payment, Click &quot;Proceed to Payment&quot;<br />
                            <br />
                            <div style="font-weight:bolder; font-size:16px; color:#f00; text-align:center"> PLEASE NOTE THAT THIS IS NOT A &quot;PAYMENT RECIEPT&quot; !!!</div><br />
     </div>
<div  style="background-color:#1C5E55; color:#ffffff; text-align:center;font-weight:bold;">

</div>
     <div style="font-weight:bold;">
<strong> TRANSACTION ID:</strong> {{twallet.transID}} <br/>

 <strong>DATE:</strong>  {{twallet.xreg_date}}
     </div>

     <div style="background-color:#1C5E55; color:#ffffff; text-align:center;font-weight:bold;">

     </div>

      <div align="center"  style="background-color:#666; color:#ffffff;font-weight:bold;">
                        ---
                        APPLICANT INFORMATION ---
                    </div>

 <div >
                    <span > <b> NAME: </b></span>
                    <span > {{applicant.applicantname}}</span>
                   
                </div>

                 <div  style="background-color:#E3EAEB;">
                    <span ><b>ADDRESS:</b></span>
                    <span > {{applicant.address}}</span>
                    
                </div>

                
                 <div >
                    <span > <b> E-MAIL: </b>  </span>
                    <span > {{applicant.email}}</span>
                    
                </div>

                 <div  style="background-color:#E3EAEB;">
                    <span ><b>MOBILE:</b> </span>
                    <span >{{applicant.mobile}}</span>
                   
                </div>

                 <div  align="center"  style="background-color:#666; color:#ffffff;font-weight:bold;">
                        ---
                        AGENT INFORMATION ---
                    </div >

                     <div >
                  
                    <span ><b> NAME:</b>  </span>

                    <span  > {{agent.Surname}}</span>
                </div >

               

                 <div  style="background-color:#E3EAEB;">
                  
                    <span  ><b> CODE: </b> </span>
                    <span> {{agent.Sys_ID}}</span>
                </div>
               

                 <div >
                  
                    <span ><b> E-MAIL: </b> </span>
                    <span > {{agent.Email}}</span>
                </div>
               


                <div  style="background-color:#E3EAEB;">
                   
                    <span > <b> MOBILE: <b> </span>

                    <span >{{agent.PhoneNumber}}</span>
                </div>

                 <div align="center" 
                        style="background-color:#666; color:#ffffff;font-weight:bold;">
                        --- PAYMENT DETAILS ---
                    </div>


                  

                 

               

     <div id="no-more-tables">
            
                        <table  class="col-md-12  table   cf"  st-table="displayedCollection" st-safe-src="ListAgent">
                           <thead>
                            <tr  style="background-color:#1C5E55; color:#ffffff;">
                                
                                <td >CODE</td>
                                <td >ITEM DESCRIPTION</td>
                                <td >
                                    QTY
                                </td>
                                
                                <td  style="text-align:center;">
                                    TOTAL (NGN)
                                </td>
                            </tr>
                           </thead>
                           <tbody>
                            <tr  ng-repeat="row in displayedCollection">
                               <td data-title="CODE">{{row.item_code}}</td>
                                <td data-title="DESCRIPTION" >
                                    {{row.item_desc}}

                                </td>
                                <td data-title="QUANTITY" >
                                    {{row.qty}}
                                </td>

                                

                                <td data-title="TOTAL (NGN)" >
                                    {{row.amt|currency:""}}

                                </td>
                            </tr>

                            <tr>
 <td data-title="TOTAL AMOUNT  " >
                                   {{vTotal|currency:""}}

                                </td>
                                <tr>

                           </tbody>


                        </table>


     </div>

             <div >
                    <div align="center" >
                        POWERED BY<br />
                        <img src="img/payxlogo.jpg" alt="XPay" width="90px" height="40px" /> <br />
                        Plot 4. Oluwakayode Jacobs Street Ikate,Lekki Phase 1<br />
                        <a href="http://www.einaosolutions.com">www.einaosolutions.com</a><br />
                        Support E-mail(s): <a href="mailto:paymentsupport@einaosolutions.com">paymentsupport@einaosolutions.com</a><br />
                        Customer Contact Support Line(s): +2349038979681
                    </div>
                </div>

 </div>
       </div>
            <table width="100%">
                <tr class="row">
                    <td class="col" style="text-align:center;">
                         <input id="Button1" type="button" class="btn btn-info" ng-click="dashboard()" value="Back" />

                        
                       

                        &nbsp;
                        <input id="Button1" type="button" class="btn btn-info" ng-click="submitForm()" value="Proceed To Payment" />
                    </td>
                </tr>
            </table>
</ion-content> 
          </ion-view >
  