<ion-view >
    <ion-header class="bar bar-assertive bar-subheader">
        <button class="button button-small " ng-click="dashboard()" >
       <i class="ion-arrow-left-a"></i>
          Back
        </button>
   </ion-header>
  <ion-content class="has-subheader" > 
<div id="no-more-tables">
      <table class="col-md-12  table  cf">
          <thead class="cf">
                            <tr  >
                                <th   >CODE</th>
                                <th  >ITEM DESCRIPTION</th>
                               
                                <th   >QTY</th>
                                <th   >TOTAL (NGN)</th>


                            </tr>
          </thead>
                             

                    <tbody>
                            <tr ng-repeat="row in displayedCollection2" >

                      
                           <td data-title="CODE">{{row.item_code}}</td>

                           <td data-title="DESCRIPTION">{{row.item_desc}}</td>

                           <td data-title="QUANTITY">{{row.qty}}</td>

                           <td data-title="AMOUNT">{{row.amt|currency:""}}</td>
                            </tr>
                            <tr>
<td data-title="TOTAL AMOUNT ">NGN&nbsp;<strong>{{vTotal|currency:""}}</strong></td>



                            </tr>

                    </tbody>

                           


      </table>

</div>

       <div class="table-responsive"> 
      

                    <table style="width:100%;" class="table-bordered center-align">


                        <tr class="row">
                            <td align="center" class="col">

                                <input id="Button1" type="button" class="btn btn-info" ng-click="dashboard()" value="Back" />

                                <input id="Button1" type="button" class="btn btn-info" ng-click="submitForm()" value="Check Out" />




                            </td>
                        </tr>
                    </table>

           </div>
       
 </ion-content> 
           </ion-view >
 